.notfound-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
}
.page-not-found-head {
  font-family: 'Bree Serif';
  font-size: 60px;
  font-weight: bold;
  color: #ffffff;
}
