.matchcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #0f172a;
  border-radius: 10px;
  width: 30%;
  min-height: 400px;
  margin-bottom: 20px;
}
.matchcard-competingteamlogo {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
.matchcard-competingteam {
  font-family: 'Bree Serif';
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 30px;
  width: 80%;
  text-align: center;
}
.matchcard-result {
  font-family: 'Bree Serif';
  font-size: 15px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  width: 80%;
}
.matchcard-matchStatus {
  font-family: 'Bree Serif';
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.won {
  color: #18ed66;
}
.lost {
  color: #e31a1a;
}
@media screen and (max-width: 767px) {
  .matchcard {
    width: 47%;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 10px;
  }
  .matchcard-competingteamlogo {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
  }
  .matchcard-competingteam {
    font-family: 'Bree Serif';
    font-size: 15px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 30px;
    width: 80%;
    text-align: center;
  }
  .matchcard-result {
    font-family: 'Bree Serif';
    font-size: 12px;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    width: 80%;
  }
  .matchcard-matchStatus {
    font-family: 'Bree Serif';
    font-size: 15px;
    font-weight: bold;
    text-align: center;
  }
}
