.teamcard-contanier {
  background-color: #475569;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #ffffff;
  width: 45%;
  margin-bottom: 20px;
}
.teamcard-sub-contanier {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.team-img {
  height: 80px;
  width: 80px;
}
.team-name {
  font-family: 'Bree Serif';
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
  width: 50%;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .team-img {
    height: 40px;
    width: 40px;
  }

  .team-name {
    font-size: 13px;
    margin-left: 10px;
    flex-grow: 1;
    text-align: center;
  }
  .teamcard-sub-contanier {
    width: 100%;
    justify-content: space-between;
  }
}
