.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  min-height: 100vh;
  height: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
}
.home-head-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.ipl-logo {
  height: 90px;
  width: 50px;
}
.home-head {
  font-family: 'Bree Serif';
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  margin-left: 20px;
}
.ipl-teams-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  flex-wrap: wrap;
  padding-left: 0;
}
@media screen and (max-width: 767px) {
  .ipl-teams-container {
    width: 100%;
  }
  .ipl-logo {
    height: 50px;
    width: 30px;
  }
  .home-head {
    font-size: 30px;
  }
}
