.latestmatchdetails-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  background-color: #0f172a;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
}
.latestmatchdetails-teamdetails-container {
  width: 40%;
}
.latestmatchdetails-competingteam {
  font-family: 'Bree Serif';
  font-size: 25px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 50px;
  width: 100%;
}
.latestMatchDetails-small-devices-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.latestmatchdetails {
  font-family: 'Bree Serif';
  font-size: 17px;
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: none;
}
.latestmatchdetails-competingteam-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.competing-team-logo-img {
  width: 40%;
  align-self: center;
}
.latestmatchdetails-playersdetails-container {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: right;
}
.latestmatchdetails-playersdetails-head {
  font-family: 'Bree Serif';
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  padding-bottom: 10px;
}
.latestmatchdetails-playersdetails-para {
  font-family: 'Bree Serif';
  font-size: 15px;
  color: #ffffff;
  font-weight: none;
  padding-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .latestmatchdetails-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    background-color: #0f172a;
    padding: 0px;
    border-radius: 10px;
  }
  .latestMatchDetails-small-devices-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .latestmatchdetails-teamdetails-container {
    flex-grow: 1;
    width: 100%;
  }
  .latestmatchdetails-competingteam {
    font-family: 'Bree Serif';
    font-size: 15px;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 0px;
    width: 100%;
  }
  .latestmatchdetails {
    font-family: 'Bree Serif';
    font-size: 10px;
    color: #ffffff;
    margin-bottom: 0px;
    font-weight: 100;
  }
  .competing-team-logo-img {
    width: 40%;
    align-self: flex-end;
  }
  .latestmatchdetails-playersdetails-container {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    text-align: left;
    border-top: 1px solid #475569;
    width: 100%;
  }
  .latestmatchdetails-playersdetails-head {
    font-family: 'Bree Serif';
    font-size: 13px;
    color: #ffffff;
    font-weight: 500;
    padding-bottom: 5px;
  }
  .latestmatchdetails-playersdetails-para {
    font-family: 'Bree Serif';
    font-size: 13px;
    color: #ffffff;
    font-weight: 100;
    padding-bottom: 5px;
  }
}
